@import-glob "atoms/**/*.css";
/* @import-glob "molecules*.css"; */
/* @import-glob "organisms*.css"; */
/**
https://www.meidev.co/blog/visual-studio-code-css-linting-with-tailwind/
*/

/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

body {
  /* @apply bg-black; */
}
.redish {
  color: red;
}