/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

h1 {
  text-transform: uppercase;
  color: blueviolet;
}

span {
  text-transform: uppercase;
  font-weight: 700;
  font-family: sans-serif;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.image {
  height: 250px;
  width: 500px;
  background-image: url(https://source.unsplash.com/500x250);
}

@media (min-resolution: 2dppx) {
  .image {
    height: 50px;
    width: 100px;
    background-image: url(https://source.unsplash.com/100x50);
  }
}

.notused {
  content: 'some random bs';
  color: pink;
}